.quote {
  position: relative;
  &::before {
    content: '';
    background-image: url('/img/icons/quote.svg');
    background-repeat: no-repeat;
    width: 110px;
    height: 85px;
    position: absolute;
    left: -50px;
    top: -50px;

    @media (max-width: 768px) {
      left: -30px;
      top: -40px;
      transform: scale(0.5);
    }
  }
}
