@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --black-secondary: #090909;
  --gray: #AFAFAF;
  --gray-secondary: #444;
  --light-gray: #6C6C6C;
  --white: #FFF;
}

body {
  color: var(--gray-secondary);
  background: var(--black)
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 3px;
}

* {
  box-sizing: border-box;
}