@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --black-secondary: #090909;
  --gray: #AFAFAF;
  --gray-secondary: #444;
  --light-gray: #6C6C6C;
  --white: #FFF;
}

body {
  color: var(--gray-secondary);
  background: var(--black)
}

* {
  box-sizing: border-box;
}