.corner {
  position: relative;
  &::after,
  &::before {
    content: '';
    position: absolute;
    background: var(--gray-secondary);
  }
  &.even::after {
    height: 3px;
    width: 75px;
    top: -25px;
    left: -25px;
  }
  &.even::before {
    width: 3px;
    height: 75px;
    top: -25px;
    left: -25px;
  }

  &.odd::after {
    height: 3px;
    width: 75px;
    right: -25px;
    bottom: -25px;
  }

  &.odd::before {
    width: 3px;
    height: 75px;
    bottom: -25px;
    right: -25px;
  }
}
