.line1 {
  animation: line1 2s forwards;
  @apply top-0 ml-[15px] w-[3px];
  &::before {
    content: '';
    animation: ball1 2s forwards;
    @apply absolute bg-white rounded-full h-[8px] w-[8px] left-[-2px];
  }
}

@keyframes line1 {
  0% {
    @apply h-[0px];
  }
  100% {
    @apply h-[220px];
  }
}

@keyframes line1-mobile {
  0% {
    @apply h-[0px];
  }
  100% {
    @apply h-[190px];
  }
}

@keyframes ball1 {
  0% {
    @apply top-[0px];
  }
  100% {
    @apply top-[215px];
  }
}

@keyframes ball1-mobile {
  0% {
    @apply top-[0px];
  }
  100% {
    @apply top-[185px];
  }
}

.line2 {
  animation: line2 2s forwards;
  @apply bottom-[202px] left-[-20px] h-[3px] w-[450px];
  &::before {
    content: '';
    animation: ball2 2s forwards;
    @apply absolute bg-white rounded-full h-[8px] w-[8px] top-[-2px];
  }
}

@keyframes line2 {
  0% {
    @apply w-[0px];
  }
  100% {
    @apply w-[450px];
  }
}

@keyframes line2-mobile {
  0% {
    @apply w-[0px];
  }
  100% {
    @apply w-[200px];
  }
}

@keyframes ball2 {
  0% {
    @apply left-[0px];
  }
  100% {
    @apply left-[450px];
  }
}

@keyframes ball2-mobile {
  0% {
    @apply left-[0px];
  }
  100% {
    @apply left-[200px];
  }
}

@media (max-width: 640px) {
  .line1 {
    animation: line1-mobile 2s forwards;
    &::before {
      animation: ball1-mobile 2s forwards;
    }
  }
  .line2 {
    animation: line2-mobile 2s forwards;
    &::before {
      animation: ball2-mobile 2s forwards;
    }
  }
}

.line3 {
  animation: line3 2s forwards;
  @apply bottom-0 ml-[15px] w-[3px];
  &::before {
    content: '';
    animation: ball3 2s forwards;
    @apply absolute bg-white rounded-full h-[8px] w-[8px] top-[-2px] right-[-2.5px];
  }
}

@keyframes line3 {
  0% {
    @apply h-[0px];
  }
  100% {
    @apply h-[205px];
  }
}

@keyframes ball3 {
  0% {
    @apply bottom-[0px];
  }
  100% {
    @apply bottom-[215px];
  }
}

.line4 {
  animation: line4 2s forwards;
  @apply h-[3px] top-[120px];
  &::before {
    content: '';
    animation: ball4 2s forwards;
    @apply absolute bg-white rounded-full h-[8px] w-[8px] top-[-2px] right-[-2.5px];
  }
}

@keyframes line4 {
  0% {
    @apply w-[0px];
  }
  100% {
    @apply w-[302px];
  }
}

@keyframes ball4 {
  0% {
    @apply bottom-[0px];
  }
  100% {
    @apply bottom-[215px];
  }
}
